@media screen and (min-width: 400px) and (max-width: 846px) {
  
}
.intro{
    background-image: url("/images/personalimg.jpg");
    height: 600px;
    background-position: center;
    background-size: cover;
}
.navbar{
    margin: 2px;
    font-family: Cursive;
}
.navbar h1{
    border:3pt solid black;
    border-radius: 30%;
    color:teal;
    margin :15pt;
    margin-top: 25pt;
    padding :4pt;
    font-size: 25pt;
    float: left;
}
.navbar h3{
    margin :15pt;
    margin-top: 25pt;
    float: right;
    font-size: 15pt;
    text-decoration: underline;
    text-decoration-style:double;
    color:darkgoldenrod
}
.intro{
    margin: 2px;
    
}
a:link {
    color: darkgoldenrod;
}
a:visited {
    color:darkgoldenrod
}
.content h1{
    text-align: center;
    color: teal;
    font-family:fantasy;
    font-size:30pt;
}
.content{
    text-align: center;
    font-family: Cursive;
    font-size: 18pt;
}
#mycareer{
    box-sizing: border-box;
    width: 33.33%;
    float:left;
}
#mycareer{
    box-sizing: border-box;
    width: 33.33%;
    float:left;
}
ol{
    list-style: none;
}
